textarea {
  border-radius: 25px;
  background: #9bc53d;
  resize: none;
  padding: 25px;
  width: 200px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
}
textarea:hover{
  background-color: #9ac53dad;
}