body {
    text-align: center;
    margin-top: 380px;
    background-color:#d628a2;
 }
 
 #timer{
    font-family: "Monaco";
    font-size: 130px;
    font-weight: lighter;
    color: rgba(0, 0, 71, 0.5);
 }
 button{
    width: 100px;
    height: 35px;
 }
 
 button:hover{
    cursor: pointer;
 }
 