body {
    text-align: center;
    margin-top: 380px;
    background-color:#d628a2;
 }
 
 #timer{
    font-family: "Monaco";
    font-size: 130px;
    font-weight: lighter;
    color: rgba(0, 0, 71, 0.5);
 }
 button{
    width: 160px;
    height: 50px;
    border: ridge;
    border-radius: 20px;
    border-color:rgba(0, 0, 71, 0.5);
    background:#0000;
    font-family: "Monaco";
    font-size: 20px;
    
 }
 
 button:hover{
    cursor: pointer;
    color:#b2aba9;
    background:rgba(0, 0, 71, 0.5);
 }
 